@font-face {
  font-family: "FiraCode";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FiraCode-Regular.ttf") format("truetype");
}
.ajax-inspector {
  padding-left: 5px;
  padding-top: 10px;
}
.ajax-inspector .display-flex {
  display: flex;
}
.ajax-inspector .align-items-center {
  align-items: center;
}
.ajax-inspector .gap-5 {
  gap: 5px;
}
.ajax-inspector .gap-10 {
  gap: 10px;
}
.ajax-inspector .gap-15 {
  gap: 15px;
}
.ajax-inspector .wp-filter {
  display: flex;
  justify-content: space-between;
}
.ajax-inspector textarea {
  font-family: "FiraCode" !important;
  border-color: #fff;
  border-radius: 0;
  padding: 10px;
  background: #f9f9f9;
}
.ajax-inspector .left-right-content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.ajax-inspector .left-right-content h1 {
  margin-right: 10px;
}
.ajax-inspector .header {
  margin-bottom: 25px;
  margin-right: 20px;
}
.ajax-inspector .ajax-list-action {
  display: none;
  text-align: right;
}
.ajax-inspector .ajax-list-action .row-delete {
  color: red;
}
.ajax-inspector .wp-filter {
  margin-bottom: 10px;
  margin-top: 25px;
}
.ajax-inspector .row-selected {
  background: antiquewhite;
}
.ajax-inspector .title-column {
  cursor: pointer;
}
.ajax-inspector button:active,
.ajax-inspector button:focus,
.ajax-inspector a:active,
.ajax-inspector a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
.ajax-inspector .body-wrapper {
  display: flex;
  flex-grow: 1;
}
.ajax-inspector .input-wrapper {
  width: 50%;
  min-width: 50%;
  margin-right: 25px;
}
.ajax-inspector .input-wrapper .ajax-input-data-types {
  display: flex;
}
.ajax-inspector .input-wrapper .ajax-input-data-types > div {
  padding: 5px;
  background-color: white;
  min-width: 30px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}
.ajax-inspector .input-wrapper .ajax-input-data-types > div:first-child {
  border-right: 1px solid #ddd;
}
.ajax-inspector .input-wrapper .ajax-input-data-types .active {
  background-color: #555;
  color: white;
  font-weight: 500;
}
.ajax-inspector .response-wrapper {
  max-width: 50%;
  flex-grow: 1;
  overflow-x: auto;
}
.ajax-inspector .response-wrapper p:nth-child(1) {
  margin-top: 35px;
}
.ajax-inspector .saved-request-list-wrapper table tr:hover {
  background-color: #f4f4f4;
}
.ajax-inspector .saved-request-list-wrapper table tr:hover > .ajax-list-action {
  display: block;
}
.ajax-global-settings-content p {
  margin: 0 !important;
}
.ajax-global-settings-content .save-global-settings {
  margin-top: 10px;
  float: right;
}
.ajax-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}
.ajax-actions .selected-title {
  margin-top: 5px;
  display: inline-block;
  margin-right: 10px;
}
#status-code {
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  padding: 2px 8px;
  display: none;
  margin-left: 15px;
}
button:active,
button:visited {
  box-shadow: none;
  outline: none;
}
#ajax {
  background: #3858e9;
}
#output {
  padding-top: 0;
  padding-left: 0;
  height: calc(100vh - 200px);
}
#input {
  width: 100%;
}
#input:focus {
  box-shadow: none;
}
.updating-info {
  color: green;
}
.updating-info .dashicons-update {
  animation: rotation 2s infinite linear;
}
.input-info-table {
  width: 100%;
}
.input-info-table tr td {
  white-space: pre-line;
  vertical-align: top;
  padding: 3px 5px;
}
.input-info-table tr:first-child td {
  background-color: #555;
  color: #fff;
}
